**/.vs
**/.ionide
**/obj

!CalculatorWinforms/bin
CalculatorWinforms/bin/*
!CalculatorWinforms/bin/Release
CalculatorWinforms/bin/Release/*
## Uncomment this when the .exe is next ready to use after being updated.
# !CalculatorWinforms/bin/Release/CalculatorWinforms.exe
